<h1>Password Generator</h1>


<div>
  <label>Enter lenght</label>
  <input (input)="onChangeLength($event)" type="number"/>
</div>

<div>
  <label>Use Letters</label>
  <input (change)="onChangeUseLetter()" type="checkbox" />
</div>

<div>
  <label>Use Symbols</label>
  <input (change)="onChangeUseSymbol()" type="checkbox" />
</div>

<div>
  <label>Use Numbers</label>
  <input (change)="onChangeUseNumber()" type="checkbox" />
</div>

<div>
  <button [disabled]="!(length && (useLetter || useNumber || useSymbol))" 
    (click)="onButtonClick()">Generate !</button>
</div>


<div>
  <label>Your Passsword: </label>
  <input [value]="password" />
</div>

